<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="tests"> 
  <test name="Test">
    <classes>
       <class name="TestCases.BaseClass"/>
      <class name="TestCases.LoginTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
